body{
	font-size: 20px;
	font-family:  Andale Mono;
    color:  black;
    border: 30px solid;
    border-radius:45.2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  #ecf5ff;
    line-height: 30px;
    
}
body > h1{
  background-color: black;
  color: aliceblue;
  margin: 0 0 ;
  height: 80px;
}
body:last-child{
  color: rgb(31, 79, 121);
  height: 10px;
}

.question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
	font-family: Fantasy;
	font-size: 20px;
	background-color: rgb(3, 26, 37);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
    background-color: #cdd7ce;
    transition: ease-in-out 2s;
}
#next:hover{
    background-color: #cdd7ce;
    transition: ease-in-out 2s;
}
#previous:hover{
    background-color: #cdd7ce;
    transition: ease-in-out 2s;
}
#next{
	font-family: Fantasy;
	font-size: 20px;
	background-color: rgb(3, 26, 37);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#previous{
	font-family: Fantasy;
	font-size: 20px;
	background-color: rgb(3, 26, 37);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .active-slide{
    opacity: 1;
    z-index: 2;
  }
  .quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
  }